@include aoa-bg-series($bg__init,$classes_init);

@media all and (orientation:portrait){
    .about,.gallery{
        &-s1{
            background-position-x: center!important;
        }
        &-s2{
            background-position-x: center!important;
        }
    }
    .business{
        &-s1{
            background-position-x: center!important;
        }
    }
    .contact{
        &-s1{
            background-position-x: center!important;
        }
    }
    .index{
        &-s1{
            background-position-x: center!important;
        }
    }
}

.about,.business{
    &-s3{
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
}

.menu{
    &-s3{
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
}

.method{
    &-s2{
        background-color: #666!important;
        background-blend-mode: multiply!important; 
    }
}

.method,.specials{
    &-s4{
        background-color: #666!important;
        background-blend-mode: multiply!important; 
    }
}

.specials{
    &-s1{
        background-position: center!important;
    }
    &-s4{
        background-position: bottom!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
h1,h2,h3,h4,h5,h6,.nav-link{
    font-family: "JotiOne";
    letter-spacing: 1px;
}
header{
    z-index: 10;
}
nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .business{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
    .contact,.index{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
    .gallery{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .index{
        &-s1{
            background-position: right!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity: 0.8;
                }
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
            border: 1px solid #333;
            opacity:0.9;
        }
    }
}